@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; /*comes when you click yes for browser animation with angular material install cli command 'ng add @angular/material*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
