<app-slider></app-slider>


<div class="menu" style="padding: 13px;"><mat-spinner *ngIf="products.length === 0"></mat-spinner>
<mat-card *ngFor="let product of products" style="margin-top:12px;">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
    <p class="desc">{{product.description}}</p>
    <mat-card-subtitle>$/{{product.price}} {{product.quantity}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions><button mat-button routerLink="/selectedItems/{{product.id}}"> Buy Meal</button></mat-card-actions>
</mat-card>
</div>
